<!-- result/showResults.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Boşluklar için CSS */
        .mb-8 {
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'show_main' %}">Veliashvili Research Motor</a>
        </div>
    </nav>

    <div class="container">
        <div class="mb-8"></div> <!-- Boşluk -->
        <h1>Search Results for "{{ corrected_query }}"</h1>
        {% if query != corrected_query %}
        <p>Sorry, no results found for "{{ query }}". Did you mean: "{{ corrected_query }}"?</p>
        {% endif %}
    
        <form action="{% url 'show_filtered' %}" method="GET">
            <!-- Mevcut query'yi saklamak için gizli input alanı -->
            <input type="hidden" name="query" value="{{ query }}">
            <input type="hidden" name="corrected_query" value="{{ corrected_query }}">
            <input type="hidden" name="url" value="{{ url }}">
            <select name="sort">
                <option value="oldest">En Eskiden En Yeniye</option>
                <option value="newest">En Yeniden En Eskiye</option>
            </select>
            <button type="submit">Filtrele</button>
        </form>
        
        <div class="mb-8"></div> <!-- Boşluk -->
    
        <div class="row">
            {% for title, link, websitelink, year in pdf_zip %}
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{{ link }}" target="_blank" class="btn btn-primary float-right">
                            <i class="fas fa-file-pdf"></i> PDF
                        </a>
                        <h5 class="card-title">
                            <button class="btn btn-link" onclick="window.location.href='{% url 'detail' %}?title={{ title|urlencode }}&websitelink={{ websitelink|urlencode }}'">Detail</button>{{ title }}
                        </h5>
                        <p class="card-text">Year: {{ year }}</p> <!-- Yıl bilgisini ekle -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>
